<h1>Editar categoria</h1>


<form action="/admin/categories/update" method="post">
    <input required type="text" name="title" value="<%= category.title %> ">
    <input type="hidden" name="id" value="<%= category.id %> ">
    <button type="submit">cadastrar categoria</button>
</form>