<h1>Editar categoria</h1>


<form action="/admin/categories/update" method="post">
    <input type="text" name="title" value="<%= category.title %> ">
    <button type="submit">cadastrar categoria</button>
</form>