<h1>nova nota</h1>

<h1>Cadastro de categoria</h1>


<form action="/admin/notes/create" method="post">
    <input type="text" name="title"> <br>
    <textarea type="text" name="body"></textarea> <br>
    <button type="submit">cadastrar nota</button>
</form>


